@page "/"

<h1>Mc2 CrudTest UI</h1>
<div class="text-center">
    <a href="/customers" class="btn btn-primary mx-auto mt-5">Go to Customers Management</a>
</div>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
